flex-box($justify-content = flex-start, $align-items = center, $flex-direction = row)
 display flex
 justify-content $justify-content
 align-items $align-items
 flex-direction $flex-direction
.bg
 background-repeat no-repeat
 background-size 100% 100%
 background-position center